.product-details-menu {
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  width:500px;
  z-index: 9999999;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  padding-bottom:20px
}
.product-details-menu .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #a3a3a3;
}
.product-details-menu .top span {
  cursor: pointer;
  font-size: 13px;
  font-weight: 900;
}
.product-details-menu .top p {
  font-weight: 500;
}
.product-details-menu .image-holder-content .images-holder {
  flex-direction: column;
}
.product-details-menu
  .image-holder-content
  .images-holder
  .mainimage-holder{
    width:100% !important
  }
.product-details-menu
  .image-holder-content
  .images-holder
  .mainimage-holder
  img {
  width: 100%;
}
.product-details-menu .image-holder-content .subimage-holder {
  flex-direction: row;
  justify-content: center;
}
.product-details-menu .detail-content {
  width: 100% !important;
  margin-top: 10px;
  padding-right: 5px;
}
.product-details-menu .detail-content .buttons button{
  min-width:120px
}
.product-details-menu .carousel-indicators button{
  background-color: var(--mainColor)
}
.product-details-menu .carousel-control-next-icon,
.product-details-menu .carousel-control-prev-icon{
  background-color: var(--mainColor);
  border-radius: 50%;
}
.product-details-menu .aside-loading{
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-details-menu .aside-loading .aside-loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.product-details-menu .aside-loading .aside-loader::after,
.product-details-menu .aside-loading .aside-loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.product-details-menu .aside-loading .aside-loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.img-slider{
  aspect-ratio: 6/5;
}
@media screen and (max-width:505px){
  .product-details-menu{
    width:300px
  }
  .img-slider{
    aspect-ratio: 6/6;
  }
}