.forgot-password  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  
}
.forgot-password  .content {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 45%,
    rgba(246, 246, 246, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 400px;
  border: 0.0625rem solid #e0e0e0;
  text-align: center;
  padding: 35px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  position:relative
}
.forgot-password .content .icon-arrow-up-left2{
  transform: rotate(-45deg);
  font-size: 32px;
  opacity: .5;
  position: absolute;
  bottom: 5px;
  left: 20px;
  cursor: pointer;
  transition: left .3s ease-in-out;
}
.forgot-password .content .icon-arrow-up-left2:hover{
  left:5px
}
.forgot-password  .content .top .logo {
  background-color: #000;
  width: fit-content;
  margin: auto;
  padding: 15px;
  border-radius: 50%;
}
.forgot-password  .content .top .logo svg {
  width: 30px;
  height: 30px;
}
.forgot-password  .content .top .login-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 25px;
  margin-top: 10px;
}
.forgot-password  .content .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.forgot-password  .content .form .input-container {
  width: 100%;
  position:relative
}
.forgot-password  .content .form .input-container input {
  width: 90%;
  padding: 7px;
  border-radius: 5px;
  direction: rtl;
  border: 0.0625rem solid #e0e0e0;
}
.forgot-password  .content .form .input-container input:focus {
  outline: none;
  box-shadow: none;
}
.forgot-password  .content .form .input-container .icon-notice{
  position:absolute;
  top: 13%;
  left: 23px;
  font-size: 17px;
  color:#B00020
}
.forgot-password  .content .form .input-container .error-msg {
  color: #B00020;
  margin-top: 8px;
}
.forgot-password  .content  .form button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.forgot-password  .content  .form button:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 450px) {
  .forgot-password  .content {
    width: 300px;
  }
  .forgot-password  .content .form input {
    width: 100%;
  }
}